<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>LOGIN - Javier Romero</title>

</head>
<body>
        <nav>
            <div class="logo">
                <a href="/"><img src="img/logo.jpg" alt=""></a>
            </div>
        
            <div class="menu">
                <a href="realtimeproducts">Añadir producto</a>|
                <a href="chat">Hablar con un Representante</a>|
                <a href="login">Log in</a>
            </div>
        </nav>
        {{{body}}}
</body>
</html>